<h1>ПЯТНАШКИ</h1>
<ul>
<li>
<% for element in @array %>
<%= element%>
</li>
<% end %>
</ul>

<table border="2">
<% for row in 0..3 %>
     <tr>  
     <% for col in 0..3 %>   
        <td ALIGN=center WIDTH=50 HEIGHT=50><%= @array[row*4+col] %></td>
    <% end %>
    </tr>
<% end %> 
</table>
