<h1>ПЯТНАШКИ</h1>
<table border="2">
<% for row in 0..3 %>
     <tr>  
     <% for col in 0..3 %>   
        <td ALIGN=center WIDTH=50 HEIGHT=50><%= link_to @array[row*4+col], game_show_path %></td>
    <% end %>
    </tr>
<% end %> 
</table>
<% if @array[row + 1 , col] == 0
  	@array[row + 1, col] = @array[row, col] and @array[row, col]=0
  elsif @array[row - 1 , col] == 0	
  	@array[row - 1, col] = @array[row, col] and @array[row, col]=0
  elsif @array[row , col - 1] == 0	
  	@array[row, col - 1] = @array[row, col] and @array[row, col]=0
  elsif @array[row , col + 1] == 0	
  	@array[row, col + 1] = @array[row, col] and @array[row, col]=0
  end %>
